@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;
@using MShop.Presentation.MPA.Public.Controllers;
@model IEnumerable<MShop.Presentation.MPA.Public.Models.Store.DepartmentItemViewModel>


<style>
	#categories {
		margin-top: 20px;
	}

	td {
		padding: 5px;
	}

	.category-item {
		padding: 15px;
		display: inline-block;
		border: 3px solid #5aaeb1;
		width: 300px;
		height: 120px;
		vertical-align: top;
		margin-bottom: 4px;
		border-radius: 10px;
	}
</style>

<h3>Store departments</h3>
<div>Click on the title of the department for which you want to browse the products:</div>
<br />
@if (Model.Any())
{
	<div>
		@foreach (var item in Model)
		{
			<div class="category-item">

				<a asp-controller="@nameof(StoreController).ShortName()"
				   asp-action="@nameof(StoreController.BrowseProducts)"
				   asp-route-departmentId="@item.Id">
					@item.Title
				</a>

				<br />

				<p>@item.Description</p>
			</div>
		}
	</div>
}
else
{
	<b>No products to show</b>
}