@using MShop.Presentation.MPA.Admin.Controllers;
@using MShop.Presentation.MPA.Admin.Infrastructure.Extensions;
@model IEnumerable<MShop.DataLayer.EF.Entities.Users.ApplicationUser>

@if (Model.Any())
{
	<table class="list">
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Email</td>
				<td style="width:130px;">
					<a asp-controller="@nameof(ManageUsersController).ShortName()"
					   asp-action="@nameof(ManageUsersController.ChangePassword)"
					   asp-route-id="@user.Id">change password</a>
					<br />
					<a asp-controller="@nameof(ManageUsersController).ShortName()"
					   asp-action="@nameof(ManageUsersController.EditUser)"
					   asp-route-id="@user.Id">edit</a>
					<br />
					<a asp-controller="@nameof(ManageUsersController).ShortName()"
					   asp-action="@nameof(ManageUsersController.Delete)"
					   asp-route-id="@user.Id">delete</a>
				</td>
			</tr>
		}
	</table>
}
else
{
	<span class="empty-list">No users to show</span>
}
