@using MShop.Presentation.MPA.Public.Controllers;
@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MShop.Presentation.MPA.Admin</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/main.css"  />
	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
		$(function () {
			$(".datepicker").datepicker({
				dateFormat: 'dd.mm.yy'
			});
		});
	</script> 
</head>
<body>
	<script>
		function changePageSize(pageName, pageSize) {
			location.href = pageName + '?pageIndex=1&pageSize=' + pageSize;
		}
		function makeSelectOptionActiveAfterRedirect(pageSize) {
			document.getElementById("pageSize").value = pageSize;
		}
	</script>
	<nav>
		<ul id="nav-ul">
			<li class="nav-li"><a asp-controller="@nameof(ArticlesController).ShortName()" asp-action="@nameof(ArticlesController.ShowCategories)">Articles</a></li>
			<li class="nav-li"><a asp-controller="@nameof(ForumController).ShortName()" asp-action="@nameof(ForumController.ShowForums)" >Forum</a></li>
			<li class="nav-li"><a asp-controller="@nameof(StoreController).ShortName()" asp-action="@nameof(StoreController.ShowDepartments)">Store</a></li>
			<li class="nav-li"><a asp-controller="@nameof(HomeController).ShortName()" asp-action="@nameof(HomeController.About)">About</a></li>
			<li class="nav-li"><a asp-controller="@nameof(HomeController).ShortName()" asp-action="@nameof(HomeController.Contact)">Contact</a></li>	 
			<li class="nav-logout"><a id="logout" href="">logout</a></li>
		</ul>
	</nav>

	<div id="content" class="container body-content">
		@RenderBody()
	</div>

	@RenderSection("scripts", required: false)
</body>
</html>
