@using MShop.Presentation.MPA.Admin.Controllers;
@using MShop.Presentation.MPA.Admin.Infrastructure.Extensions;
@using MShop.ViewComponents.Components;
@using MShop.ViewComponents.Models;
@using MShop.Presentation.MPA.Admin.Models.Articles;
@model ManageCategoriesViewModel



@(await Component.InvokeAsync<PageSizeViewComponent>(new PageSizeViewModel
{
	TextAbove = "Categories per page:",
	Action = Model.Pager.Action,
	PageSize = Model.Pager.PageSize
}))

@(await Component.InvokeAsync<PagerViewComponent>(new { Pager = Model.Pager }))

@if (Model.CategoryItems.Any())
{
	<table class="list">
		@foreach (var item in Model.CategoryItems)
		{
			<tr>
				<td>
					<b>@item.Title</b><br />
					@item.Description
				</td>
				<td>
					<a asp-controller="@nameof(ManageArticlesController).ShortName()"
					   asp-action="@nameof(ManageArticlesController.EditCategory)"
					   asp-route-id="@item.Id">Edit</a>
				</td>
				<td>
					<a asp-controller="@nameof(ManageArticlesController).ShortName()"
					   asp-action="@nameof(ManageArticlesController.DeleteCategory)"
					   asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</table>
}
else
{
	<span class="empty-list">No categories to show</span>
}

@(await Component.InvokeAsync<PagerViewComponent>(new { Pager = Model.Pager }))