@model MShop.Presentation.MPA.Auth.Models.UserProfileViewModel

Personal details
<table>
    <tr>
        <td></td>
        <td>@Model.Subscriptions</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.Languages</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.AvatarUrl</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.Signature</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.Genders</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.BirthDate</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.Occupations</td>
    </tr>
</table>


Address
<table>
    <tr>
        <td></td>
        <td>@Model.Street</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.PostalCode</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.State</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.Countries</td>
    </tr>
</table>

Other contacts
<table>
    <tr>
        <td></td>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.Fax</td>
    </tr>
</table>