@model MShop.Presentation.MPA.Public.Models.Store.OrderViewModel

<div>Shopping Cart</div>

Review and update the quantity of the products added to the cart before proceeding to checkout, or continue shopping.

@foreach (var item in Model.OrderItems)
{
	<a asp-controller="Store"
	   asp-action="ShowProduct"
	   asp-route-id="@item.ProductId">@item.Title</a>

	@item.UnitPrice

	<input type="text" asp-for="@item.Quantity" />

	<a asp-controller="Store"
	   asp-action="DeleteProduct"
	   asp-route-id="@item.ProductId">Delete</a>
}

<div>
	Subtotal: @Model.Subtotal

	<p>
		Shipping Method:

		<select asp-for="@Model.ShippingMethodId" 
				asp-items="@Model.ShippingMethods">
		</select>

	</p>
	<p>
		<u>Total:</u> @Model.Total
	</p>

	<button>UpdateTotals</button>
</div>