@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;
@using MShop.Presentation.MPA.Public.Controllers;
@model MShop.Presentation.MPA.Public.Models.Forums.AddPostViewModel

<form asp-action="@nameof(ForumController.AddPost)"
	  asp-controller="@nameof(ForumController).ShortName()">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<input type="hidden" asp-for="ForumId" />
	</div>
	<div class="form-group">
		<label asp-for="Title" class="control-label">Title</label>
		<input type="text" asp-for="Title" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Body" class="control-label">Body</label>
		<input type="text" asp-for="Body" class="form-control" />
	</div>
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-default" />
	</div>
</form>

<div style="text-align:center;">
	<a asp-controller="@nameof(ForumController).ShortName()"
	   asp-action="@nameof(ForumController.BrowseThreads)"
	   asp-route-forumId="@Model.ForumId"
	   asp-route-pageIndex="1"
	   asp-route-pageSize="5">Back to thread list</a>

	<br /><br />

	<a asp-controller="@nameof(ForumController).ShortName()"
	   asp-action="@nameof(ForumController.ShowThread)"
	   asp-route-forumId="@Model.ForumId"
	   asp-route-threadId="@Model.ThreadId">Back to thread page</a>
</div>
