@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;
@using MShop.Presentation.MPA.Public.Controllers;
@model MShop.Presentation.MPA.Public.Models.Forums.BrowseThreadsViewModel

<div>
	Threads from forum:
	<select onchange="location.href=this.value">
		@foreach (var item in Model.Forums)
		{
			<option value="@Url.Action("BrowseThreads", "Forum", new { id = item.Value, pageIndex = 1, pageSize = 10 })">
				@item.Text
			</option>
		}
	</select>
</div>

<a asp-action="@nameof(ForumController.AddPost)"
   asp-controller="@nameof(ForumController).ShortName()"
   asp-route-id="@ViewBag.ForumId">Create new thread</a>



@if (Model.ThreadItems.Any())
{
	<table>
		<tr>
			<td>
				AddedBy
			</td>
			<td>
				Last Post
			</td>
			<td>
				Replies
			</td>
			<td>
				Views
			</td>
			<td></td>
		</tr>
		@foreach (var item in Model.ThreadItems)
		{
		<tr>
			<td>
				<a asp-action="@nameof(ForumController.ShowThread)"
				   asp-controller="@nameof(ForumController).ShortName()"
				   asp-route-id="@item.ThreadId">@item.Title</a>
				<br />
				<small>
					by @item.AddedBy
				</small>
			</td>
			<td>
				<small>
					@item.LastPostDate
					<br />
					by @item.LastPostBy
				</small>
			</td>
			<td>
				@item.ReplyCount
			</td>
			<td>
				@item.ViewCount
			</td>
			<td>
				<a asp-action="@nameof(ForumController.DeletePost)"
				   asp-controller="@nameof(ForumController).ShortName()"
				   asp-route-id="@item.ThreadId">Delete</a>
			</td>
		</tr>
		}
	</table>
}
else
{
	<b>No threads to show</b>
}


<a asp-action="@nameof(ForumController.AddPost)"
   asp-controller="@nameof(ForumController).ShortName()"
   asp-route-id="@Model.ForumId">Create new thread</a>
