@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;
@using MShop.Presentation.MPA.Public.Controllers;
@model IEnumerable<MShop.Presentation.MPA.Public.Models.Forums.ForumItemViewModel>


@if (Model.Any())
{
	<table>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Title</td>
				<td>
					<a asp-controller="@nameof(ForumController).ShortName()"
					   asp-action="@nameof(ForumController.BrowseThreads)"
					   asp-route-forumId="@item.Id">
						Browse threads
					</a>
				</td>
				<td>
					@item.Description
				</td>
			</tr>
		}
	</table>
}
else
{
	<b>No forums to show</b>
}
