@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;
@using MShop.Presentation.MPA.Public.Controllers;
@model IEnumerable<MShop.Presentation.MPA.Public.Models.Forums.PostItemViewModel>

@foreach (var item in Model)
{
	@item.Title

	@*<a>EditPost</a>
		@item.ForumId
		@item.ThreadId
		@item.PostId
		<a>Delete post</a>
		@item.AddedDate
		@item.AddedBy*@
}
