@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;
@using MShop.Presentation.MPA.Public.Controllers;
@using MShop.ViewComponents.Components.Polls;
@model IEnumerable<MShop.Presentation.MPA.Public.Models.Polls.ArchivedPollItemViewModel>

<div>Archived Polls</div>
<p>Here is the complete list of archived polls run in the past. Click on the poll's question to see its results.</p>

<script type="text/javascript">
	function toggleDivState(divName) {
		var ctl = window.document.getElementById(divName);
		if (ctl.style.display == "none")
			ctl.style.display = "";
		else
			ctl.style.display = "none";
	}
</script>


@if (Model.Any())
{
	<table>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.Raw("<a href=\"javascript:toggleDivState('poll" + item.Id + "')\">" + item.QuestionText + "</a>")
					<small>(archived on @item.ArchivedDate)</small>

					@(await Component.InvokeAsync<PollBoxViewComponent>(new
					{
						pollId = item.Id,
						showHeader = false,
						showQuestion = false,
						showArchiveLink = false
					}))

					<a asp-action="@nameof(PollsController.DeletePoll)"
					   asp-controller="@nameof(PollsController).ShortName()"
					   href="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</table>
}
else
{
	<b>No polls to show</b>
}
