@using MShop.ViewComponents.Components;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MShop.Presentation.MPA.Admin</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd.mm.yy'
            });
        });
    </script>
</head>
<body>
    <script>
        function changePageSize(pageName, pageSize) {
            location.href = pageName + '?pageIndex=1&pageSize=' + pageSize;
        }
        function makeSelectOptionActiveAfterRedirect(pageSize) {
            document.getElementById("pageSize").value = pageSize;
        }
    </script>
    <nav>
        <ul id="nav-ul">
            <li class="nav-li"><a asp-controller="Articles" asp-action="ShowCategories">Articles</a></li>
            <li class="nav-li"><a asp-controller="Forum" asp-action="ShowForums">Forum</a></li>
            <li class="nav-li"><a asp-controller="Store" asp-action="ShowDepartments">Store</a></li>
            <li class="nav-li"><a asp-controller="Home" asp-action="About">About</a></li>
            <li class="nav-li"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li class="nav-logout"><a id="logout" href="">logout</a></li>
        </ul>
    </nav>

    <style>
        #left-sidebar {
            width: 200px;
            float: left;
            margin: 15px;
        }
    </style>
    
    <div id="left-sidebar">
        @(await Component.InvokeAsync<PollBoxViewComponent>())
        @Html.Partial("_AdminSection")
    </div>

    <div id="content" class="container body-content">
        @RenderBody()
    </div>

    @(await Component.InvokeAsync<NewsletterBoxViewComponent>())

    @RenderSection("scripts", required: false)
</body>
</html>
