@model List<MShop.Presentation.MPA.Public.Models.Store.ProductItemViewModel>


<table>
	@foreach (var item in Model)
	{
		<tr>
			<td><img src="@item.ImageUrl" width="100" /></td>
			<td><a asp-controller="Store">@item.Title</a></td>
			<td>@item.AverageRating @item.Votes</td>
			<td>@item.UnitsInStock</td>
			<td>
				@item.DiscountPercentage
				@item.UnitPrice
				@item.DiscountPercentage
				@item.FinalUnitPrice
			</td>
			<td>
				@item.ProductId
			</td>
		</tr>
	}

</table>
 