@using MShop.Presentation.MPA.Public.Infrastructure.Extensions;
@using MShop.Presentation.MPA.Public.Controllers;
@model IEnumerable<MShop.Presentation.MPA.Public.Models.Store.OrderHistoryItemViewModel>


<div>Order History</div>

Follows the list of orders you've submitted in the past, with their current status:

@foreach (var item in Model)
{
	<div>
		Order #@item.OrderHistoryId - @item.AddedDate
	</div>

	@*<u>Total</u>=FormatPrice((decimal)@Model.SubTotal + (decimal)@model.Shipping*@

	@item.StatusTitle

	@*<a href="@item.StatusId">Pay now</a>*@

	foreach (var i in item.Items)
	{
		@i.Title
		@i.UnitPrice

		@i.Quantity

		<div>Subtotal</div>
		<div>ShippingMethod</div>
		<div> Shipping</div>
	}
}