@using MShop.Presentation.MPA.Admin.Controllers;
@using MShop.Presentation.MPA.Admin.Infrastructure.Extensions;
@model IEnumerable<MShop.Presentation.MPA.Admin.Models.Store.ManageOrderItemViewModel>


@if (Model.Any())
{
	<table class="list">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<label asp-for="@item.Date"></label>
				</td>
				<td><label asp-for="@item.Customer"></label></td>
				<td>
					@foreach (var orderItem in item.Items)
					{
						@orderItem.SKU
						<a asp-controller="Store"
						   asp-action="ShowProduct"
						   asp-route-id="@orderItem.ProductId">@orderItem.Title</a>
						@orderItem.Quantity
						<br />
					}
				</td>
				<td><label asp-for="@item.Subtotal"></label></td>
				<td><label asp-for="@item.Shipping"></label></td>
				<td>
					<a asp-controller="@nameof(ManageStoreController).ShortName()"
					   asp-action="@nameof(ManageStoreController.OrderDetails)"
					   asp-route-id="@item.Id">Details</a>
				</td>
				<td>
					<a asp-controller="@nameof(ManageStoreController).ShortName()"
					   asp-action="@nameof(ManageStoreController.DeleteOrder)"
					   asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</table>
}
else
{
	<span class="empty-list">No orders to show</span>
}

