@model MShop.Presentation.MPA.Public.Models.Articles.ArticleBoxViewModel


<table>
	<tr>
		<td>
			<label asp-for="Title">Title</label>

			@if (Model.Approved)
			{
				<label>Approved</label>
			}
		</td>

		<td>

			@*<button>Approve this article</button>
				<a href="@Model.ArticleId">Edit aricle</a>*@

			<a asp-controller="Articles"
			   asp-action="DeleteArticle"
			   asp-route-id="@Model.ArticleId">Delete aricle</a>

		</td>
	</tr>
</table>

<b>Rating: </b>

@Model.UserCount user(s) have rated this article

	Average rating: @Model.AverageRating

	<br />

	<b>Posted by: </b>

	@Model.AddedBy,

	on
	@Model.ReleaseDate,

	in category "
	@Model.Category"

	<br />

	<b>Views: </b>

	this article has been read @Model.Views times

	<br /><b>Location: </b>@Model.Location

	<br />

	<div>
		<b>Abstract: </b>
		@Model.Abstract
	</div>

	Текст сообщения:
	@Model.Body
